<%@ Page Language="C#" MasterPageFile="~/Outrider.master" AutoEventWireup="true"
	CodeFile="Error.aspx.cs" Inherits="Computronix.POSSE.Outrider.Error" Title="Error" %>

<asp:Content ID="cntPaneBand" ContentPlaceHolderID="cphPaneBand" runat="Server">
	<pre>
    <asp:Label ID="lblError" runat="server" CssClass="posseerror"></asp:Label></pre>
</asp:Content>
