<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FunctionLink.ascx.cs"
	Inherits="Computronix.POSSE.Outrider.FunctionLink" %>
<asp:Panel ID="pnlButton" runat="server">
    <asp:HyperLink ID="hlkBtnLink" runat="server"><asp:Label ID="lblBtnLabel" runat="server"></asp:Label></asp:HyperLink>
</asp:Panel>
