<%@ Page Language="C#" MasterPageFile="~/OutriderPopup.master" AutoEventWireup="true"
	CodeFile="Note.aspx.cs" Inherits="Computronix.POSSE.Outrider.Note" Title="Note" %>

<asp:Content ID="cntPaneBand" ContentPlaceHolderID="cphPaneBand" runat="Server">
	<asp:Panel ID="pnlPaneBand" runat="server">
	</asp:Panel>
</asp:Content>
