<%@ Page Language="C#" MasterPageFile="~/OutriderPopup.master" AutoEventWireup="true" CodeFile="PaymentAdjustment.aspx.cs" Inherits="Computronix.POSSE.Outrider.PaymentAdjustment" %>
<asp:Content ID="cntPaneBand" ContentPlaceHolderID="cphPaneBand" Runat="Server">
    <asp:Panel ID="pnlPaneBand" runat="server">
    </asp:Panel>
    <input type="button" value="Return" onclick="history.back()">
</asp:Content>