﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WarningTabLabel.ascx.cs" Inherits="Computronix.POSSE.Outrider.WarningTabLabel" %>
<div class="warningTab">
    <asp:HyperLink ID="hlkTabLink" runat="server"><asp:Label ID="lblTxtLabel" runat="server"></asp:Label></asp:HyperLink>
</div>