<%@ Page Language="C#" MasterPageFile="~/OutriderPopup.master" AutoEventWireup="true"
	CodeFile="Lookup.aspx.cs" Inherits="Computronix.POSSE.Outrider.Lookup" Title="Lookup" %>

<asp:Content ID="cntTitleBand" runat="server" ContentPlaceHolderID="cphTitleBand">
	<asp:Panel ID="pnlTitleBand" runat="server">
	</asp:Panel>
</asp:Content>
<asp:Content ID="cntTopBand" runat="server" ContentPlaceHolderID=cphTopFunctionBand>
	<asp:Panel ID="pnlTopBand" runat="server" Style="margin-left: 10px; margin-top: 10px">
		<asp:Panel ID="pnlHeaderBand" runat="server" CssClass="popupheaderband">
		</asp:Panel>
	</asp:Panel>
</asp:Content>
<asp:Content ID="cntPaneBand" ContentPlaceHolderID="cphPaneBand" runat="Server">
	<asp:Panel ID="pnlPaneBand" runat="server">
	</asp:Panel>
</asp:Content>
<asp:Content ID="cntBottomFunctionBand" runat="server" ContentPlaceHolderID="cphBottomFunctionBand">
	<asp:Panel ID="pnlBottomFunctionBand" runat="server">
	</asp:Panel>
</asp:Content>