<%@ Page Language="C#" MasterPageFile="~/Outrider.master" AutoEventWireup="true" CodeFile="NewApp.aspx.cs" Inherits="Computronix.POSSE.Outrider.NewApp" %>
<asp:Content ID="cntUserInfo" runat="server" ContentPlaceHolderID="cphUserInfo">
	<asp:Panel ID="pnlUserInfo" runat="server" CssClass="userInfoPanel">
	</asp:Panel>
</asp:Content>
<asp:Content ID="cntTitleBand" runat="server" ContentPlaceHolderID="cphTitleBand">
	<asp:Panel ID="pnlTitleBand" runat="server">
	</asp:Panel>
</asp:Content>
<asp:Content ID="cntMenuBand" runat="server" ContentPlaceHolderID="cphMenuBand">
	<asp:Panel ID="pnlMenuBand" runat="server">
	</asp:Panel>
</asp:Content>
<asp:Content ID="cntPaneBand" ContentPlaceHolderID="cphPaneBand" runat="Server">
	<asp:Panel ID="pnlErrorBand" runat="server" CssClass="datazone">
	</asp:Panel>
</asp:Content>
<asp:Content ID="cntBottomFunctionBand" runat="server" ContentPlaceHolderID="cphBottomFunctionBand">
	<asp:Panel ID="pnlBottomFunctionBand" runat="server">
	</asp:Panel>
</asp:Content>
<asp:Content ID="cntDebugLinkBand" runat="server" ContentPlaceHolderID="cphDebugLinkBand">
	<asp:Panel ID="pnlDebugLinkBand" runat="server">
	</asp:Panel>
</asp:Content>
