<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RecordPayment.aspx.cs" Inherits="Payment" %>
<%@ Import Namespace="Computronix.POSSE.Outrider" %>
<!-- Comment -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>OutriderMaster</title>
</head>
<body>
</body>
</html>