/**************************************************************************************************
* Dashboard Sidebar
**************************************************************************************************/
#categorysidebar ul
{
    margin:0px 0px 0px 0px;
    }

#categorysidebar ul li 
{
    display:block;
    border-bottom:2px solid #2B2B2B;
    margin:0px 0px 0px 10px;
    padding: 5px 5px 5px 0px;
    font-size: 0.9em;
    font-weight:bold;
    opacity:0.45;
}    
 
#categorysidebar ul li:before
{
    content:">";
    font-weight:bold;
    padding:0px 5px 0px 0px;
    font-size: 18px;
    color: #2B2B2B;
}
    
#categorysidebar ul li:hover
{
    cursor:pointer;
    opacity:0.65;
}

#categorysidebar ul li.active
{
    text-decoration: none;
    opacity:1.0;
    color: #2B2B2B;
}

#settingsButton:hover { 
     background: #676767;
     opacity: 0.99;
     cursor:pointer;
}

#settingsButton 
{
    margin: 20px 0px 0px 10px;
    text-align: center; 
    border-radius: 5px;
    -moz-border-radius: 5px;
    background: #777777;
    opacity: 0.8;    
    width: 150px;
    min-height : 20px; 
    padding: 4px 4px 4px 0px;
    color: #FFFFFF;
    font: 12pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
}
