﻿/**********Container of Menu ************/

.menuband
{
	width:820px;
	height: 45px;
	float: right;
}

/***************** Menu CSS **************/
.nav { /* Backgrond image and layout */
	background: transparent;
	margin: 0px;
	float: right;
}

.nav a,
.nav-spacer 
{ /* Link text on the menus */
    font-size: 14px;
	font-weight:bold;
	font-family: Calibri, sans-serif;
	padding: 0px 3px 0px 3px; 
	margin:0;
	color: #575757;
	text-decoration: none;
	float: left;
}

.nav ul { /* Menu List Layout */
	width: 100%;
	height: 45px;
	margin: 0;
	padding-left:0px;
	padding-top: 0px;
	list-style: none;
	list-style-type: none;
	font-size: 15px;
}

.nav li { /* Menu Items */
	display: inline;
	padding: 0px;
	position: relative;	
	list-style: none;
	list-style-type: none;
}

.nav li:last-child { /* take off split pane from last item */
	background: none;
}

.nav li a:hover
{
	cursor: pointer; /* So IE will not display text select cursor */
}

.nav li a { /* Height of the item so that text is centered */
	display: block;
	line-height: 45px;
	overflow: hidden;
}

.nav-spacer
{
	display: block;
	line-height: 44px;
}

.nav li a:hover, /* Link size as well with active hover image*/
.nav li:active a,
.nav li:hover a,
.nav li:hover a {
	color: #000000;
	text-decoration: underline;
}