/**************************************************************************************************
* Dashboard Sidebar
**************************************************************************************************/
#categorysidebar ul
{
    margin:0px 0px 0px 0px;
    }

#categorysidebar ul li 
{
    display:block;
    border-bottom:2px solid #575757;
    margin:0px 0px 0px 35px;
    padding: 5px 25px 5px 0px;
    font-size: 1.0em;
    font-weight:bold;
    opacity:0.6;
}    
 
#categorysidebar ul li:before
{
    content:">";
    font-weight:bold;
    padding:0% 25% 0% 0%;
    font-size: 18px;
    color: #575757;
}
    
#categorysidebar ul li:hover
{
    cursor:pointer;
   
}

#categorysidebar ul li.active
{
    text-decoration: none;
    opacity:0.99;
    color: #575757;
}

#settingsButton:hover { 
     background: #575757;
     opacity: 0.99;
     cursor:pointer;
}

#settingsButton 
{
    margin: 10% 15% 0 22%;
    text-align: center; 
    border-radius: 5px;
    -moz-border-radius: 5px;
    background: #575757;
    opacity: 0.8;    
    width: 60%;
    min-height : 20px; 
    padding: 8px 0px 8px 0px;
    color: #FFFFFF;
    font: 14pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
}
