﻿/**************************************************************************************************
 * Main container for tabs
 **************************************************************************************************/
.tablabelband { /* tab container */
	border-bottom: 1px solid #575757;
	width: 100%;
    /*white-space: nowrap;*/
	padding: 15px 0px 5px 0px;
}

.tablabelbandpopup { /* tab container on popups */
	border-bottom: 1px solid #575757;
	width: 100%;
}

/**************************************************************************************************
 * Active, Enabled, Non Selected Tabs
 **************************************************************************************************/
.tab { /* general tab settings */
	display: inline-block;
	margin-right: 1px;
	padding: 0px 0px 10px 0px;
}

.tab a { /* general tab links, image on left of tab */
	background-image: url(../images/Interface/NormalTabL.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	/*padding: 5px 0px 0px 12px;*/
	padding: 5px 0px 5px 12px;
	color: #FFFFFF;
	font: 76% Calibri,Arial,helvetica,sans-serif;
	text-decoration: none;
}

.tab a span { /* image on right of tab */
	background-image: url(../images/Interface/NormalTabR.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding: 5px 12px 5px 0px;
}

.tab a:hover { /* general tab hover, image on left of tab hover */
	background-image: url(../images/Interface/DarkTabL.png);	
}

.tab a:hover span { /* image on right of tab hover */
	background-image: url(../images/Interface/DarkTabR.png);	
	text-decoration: underline;
}

/**************************************************************************************************
 * Selected Tabs
 **************************************************************************************************/
.selectedTab { /* select tab settings, image on left of tab */
	display: inline;
	margin-right: 1px;
	
	background-image: url(../images/Interface/DarkTabL.png);
	/*background-position: 5px left;*/
	background-position: bottom left;
	background-repeat: no-repeat;
	/*padding: 5px 0px 0px 12px;*/
	padding: 5px 0px 5px 12px;	
	color: #FFFFFF;
	font: bold 76% Calibri,Arial,helvetica,sans-serif;
	text-decoration: none;
}

.selectedTab span { /* image on right of tab */
	background-image: url(../images/Interface/DarkTabR.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 5px 12px 5px 0px;
}

/**************************************************************************************************
 * Disabled Tabs
 **************************************************************************************************/
.disabledTab { /* selected tab settings, image on left of tab */
	display: inline;
	margin-right: 1px;
	
	background-image: url(../images/Interface/DisabledTabL.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	/*padding: 5px 0px 0px 12px;*/
	padding: 5px 0px 5px 12px;	
	color: #FFFFFF;
	font: bold 76% Calibri,Arial,helvetica,sans-serif;
	text-decoration: none;
}

.disabledTab span { /* image on right of tab */
	background-image: url(../images/Interface/DisabledTabR.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding: 5px 12px 5px 0px;
}

/**************************************************************************************************
 * Fee Tabs
 **************************************************************************************************/
.feeTab { /* fee tab settings */
	display: inline;
	margin-right: 1px;
}

.feeTab a { /* fee tab link, image on left of tab */
	background-image: url(../images/Interface/RedTabL.png);
	background-position: top left;
	background-repeat: no-repeat;
	padding: 5px 0px 5px 12px;
	color: #FFFFFF;
	font: 76% Calibri,Arial,helvetica,sans-serif;
	text-decoration: none;
}

.feeTab a span { /* image on right of tab */
	background-image: url(../images/Interface/RedTabR.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding: 5px 12px 5px 0px;
}

.selectedFeeTab { /* fee tab settings, image on left of tab */
	display: inline;
	margin-right: 1px;
	
	background-image: url(../images/Interface/RedTabL.png);
	background-position: top left;
	background-repeat: no-repeat;
	padding: 5px 0px 5px 12px;	
	color: #FFFFFF;
	font: bold 76% Calibri,Arial,helvetica,sans-serif;
	text-decoration: none;
}

.selectedFeeTab span { /* image on right of tab */
	background-image: url(../images/Interface/RedTabR.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding: 5px 12px 5px 0px;
}

/**************************************************************************************************
 * Warning Tabs
 **************************************************************************************************/
.warningTab { /* warning tab settings */
	display: inline;
	margin-right: 1px;
}

.warningTab a { /* warning tab link, image on left of tab */
	background-image: url(../images/Interface/RedTabL.png);
	background-position: top left;
	background-repeat: no-repeat;
	padding: 5px 0px 5px 12px;
	color: #FFFFFF;
	font: 76% Calibri,Arial,helvetica,sans-serif;
	text-decoration: none;
}

.warningTab a span { /* image on right of tab */
	background-image: url(../images/Interface/RedTabR.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding: 5px 12px 5px 0px;
}

.selectedWarningTab { /* warning tab settings, image on left of tab */
	display: inline;
	margin-right: 1px;
	
	background-image: url(../images/Interface/RedTabL.png);
	background-position: top left;
	background-repeat: no-repeat;
	padding: 5px 0px 5px 12px;	
	color: #FFFFFF;
	font: bold 76% Calibri,Arial,helvetica,sans-serif;
	text-decoration: none;
}

.selectedWarningTab span { /* image on right of tab */
	background-image: url(../images/Interface/RedTabR.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding: 5px 12px 5px 0px;
}