.cxaddonhost
{
    border-width: 0px;
}

.cxapplicationtoolbartext
{
    font-size: 16px !important;
}

.cxapplyclauseicon
{
    background-image: url(../Images/ApplyClause.png) !important;
}

.cxassignicon
{
    background-image: url(../Images/Assign.png) !important;
}

.cxassignmentuser
{
    background-image: url(../Images/Warnings.png) !important;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-color: #FDFCE7;
    font-weight: bold !important;
}

.cxbreadcrumblink
{
    line-height: 16px;
}

.cxbreadcrumbtext
{
    font-size: 11px !important;
}

.cxbuildingicon
{
    background-image: url(../Images/Building.png) !important;
}

.cxcancelicon
{
    background-image: url(../Images/Cancel.png) !important;
}

.cxcheckicon
{
    background-image: url(../Images/Check.png) !important;
}

.cxclaimicon
{
    background-image: url(../Images/Claim.png) !important;
}

.cxclauseicon
{
    background-image: url(../Images/Clause.png) !important;
}

.cxclausetool
{
    background-image: url(../Images/ClauseTool.png) !important;
}

.cxcleartool
{
    background-image: url(../Images/ClearTool.png) !important;
}

.cxcompleteicon
{
    background-image: url(../Images/Complete.png) !important;
}

.cxcomplexeditaddbutton
{
    float: right;
}

.cxcomplexeditaddbutton:hover
{
    border-color: #9d9d9d;
    background-image: none;
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e9e9e9));
    background-image: -webkit-linear-gradient(top, #fbfbfb,#e9e9e9);
    background-image: -moz-linear-gradient(top, #fbfbfb,#e9e9e9);
    background-image: -o-linear-gradient(top, #fbfbfb,#e9e9e9);
    background-image: -ms-linear-gradient(top, #fbfbfb,#e9e9e9);
    background-image: linear-gradient(top, #fbfbfb,#e9e9e9);
}

.cxcomplexeditheadercolumn
{
    background-color: #F9F9F9 !important;
}

.cxcomplexeditheaderrow
{
}

.cxcontentexiststool
{
    background-image: url(../Images/ContentExistsTool.png) !important;
}

.cxcurrentitemicon
{
    background-image: url(../Images/CurrentItem.png) !important;
}

.cxdatabaseicon
{
    background-image: url(../Images/Database.png) !important;
}

.cxdeleteicon
{
    background-image: url(../Images/PosseDelete.png) !important;
}

.cxdeletetool
{
    background-image: url(../Images/DeleteTool.png) !important;
}

.cxdetailsicon
{
    background-image: url(../Images/Details.png) !important;
}

.cxdialogbutton
{
    background-image: url(../Images/DialogButton.png) !important;
}

.x-cxdialogbuttonfocus
{
    background-image: url(../Images/DialogButtonOver.png) !important;
}

.x-cxdialogbuttonover
{
    background-image: url(../Images/DialogButtonOver.png) !important;
}

.x-cxdialogbuttonpressed
{
    background-image: url(../Images/DialogButtonPressed.png) !important;
}

.cxdialogheaderlabel
{
    font-family: Georgia;
    font-style:italic;
    font-size: 14px !important;
}

.cxdialogbuttonlabel
{
    color: White !important;
    font-size: 14px !important;
}

.cxdialogheader
{
    background-image: url(../Images/DialogHeader.png) !important;
}

.cxdialogtext
{
    font-size: 14px !important;
}

.cxdisableddeleteicon
{
    background-image: url(../Images/PosseDisabledDelete.png) !important;
}

.cxdisableddeletetool
{
    background-image: url(../Images/DisabledDeleteTool.png) !important;
}

.cxdisablednewicon
{
    background-image: url(../Images/DisabledPosseNew.png) !important;
}

.cxdisplaybody
{
    vertical-align: top;
}

.cxdisplayformat
{
    white-space: nowrap;
    height: 29px;
}

.cxdisplayformatcolumnline1
{
    font-weight: bold;
}

.cxdisplayformatcolumnline2
{
    font-size: 9px;
    font-style: italic;
}

.cxdisplayformatheader
{
    line-height: normal;
    height: 40px;
    font-size: 16px;
    white-space: nowrap;
}

.cxdisplayformatheaderline2
{
    font-size: 14px;
    font-style: italic;
}

.cxdisplayformatline2
{
    font-size: 10px;
    font-style: italic;
}

.cxdocumenticon
{
    background-image: url(../Images/Document.png) !important;
}

.cxdownloadicon
{
    background-image: url(../Images/Download.png) !important;
}

.cxdownloadtool
{
    background-image: url(../Images/DownloadTool.png) !important;
}

.cxduplicateicon
{
    background-image: url(../Images/Duplicate.png) !important;
}

.cxentryicon
{
    background-image: url(../Images/Door.png) !important;
}

.cxerrormessage
{
    color: #000000;
}

.cxerrortooltip
{
    color: #FFFFFF;
}

.cxexporticon
{
    background-image: url(../Images/Export.png) !important;
}

.cxfileicon
{
    background-image: url(../Images/File.png) !important;
}

.cxfiltericon
{
    background-image: url(../Images/Filter.png) !important;
}

.cxgotolink
{
    margin-top: 1px !important;
}

.cxgotolinkicon
{
    background-image: url(../Images/Goto.png) !important;
}

.cxgotolinktool
{
    background-image: url(../Images/GotoTool.png) !important;
}

.cxgridcellerror
{
    border: 1px solid #c30;
}

.cxgridcellwarning
{
    border: 1px solid #c30;
}

.cxgriderror
{
    border: 1px solid #c30;
    background-color: inherit !important;
    background: #FBFBFB url('../Images/Invalid.gif') repeat-x bottom;
    padding: 0px 0px 3px 0px;
}

.cxgridtitle
{
  font-size: 14px;
  font-weight: bold;
}

.cxgridwarning
{
    border: 1px solid #c30 !important;
    background-color: inherit !important;
    background: #FBFBFB url('../Images/Invalid.gif') repeat-x bottom;
    padding: 0px 0px 3px 0px;
}

.cxheadericon
{
    background-image: url(../Images/CXLogoSmall.png) !important;
}

.cxhierarchygroup
{
}

.cxhierarchyblankicon
{
    background-image: none;
    width: 0px;
    height: 0px;
}


.cximage:focus
{
    border: 1px dotted black;
}

.cximageicon
{
    background-image: url(../Images/Image.png) !important;
}

.cxjobicon
{
    background-image: url(../Images/Job.png) !important;
}

.cxjobicon32
{
    background-image: url(../Images/Job32.png) !important;
}

.cxkeywordcriteriatrigger
{
    background-image: url(../Images/KeywordCriteriaTrigger.png);
}

.cxlocateicon
{
    background-image: url(../Images/Locate.png) !important;
}

.cxmenuicon
{
    background-image: url(../Images/Menu.png) !important;
}

.cxmenuitem
{
    background-image: url(../Images/MenuItem.png);
}

.cxnewicon
{
    background-image: url(../Images/PosseNew.png) !important;
}

.cxnewsubjobicon
{
    background-image: url(../Images/NewSubjob.png) !important;
}

.cxnexticon
{
    background-image: url(../Images/Next.png) !important;
}

.cxobjecticon
{
    background-image: url(../Images/Object.png) !important;
}

.cxobjecticon32
{
    background-image: url(../Images/Object32.png) !important;
}

.cxokicon
{
    background-image: url(../Images/OK.png) !important;
}

.cxpaneltoolbartext
{
    font-size: 16px !important;
    font-weight: bold !important;
}

.cxpasswordicon
{
    background-image: url(../Images/Password.png) !important;
}

.cxplanclearicon
{
    background-image: url(../Images/PlanClear.png) !important;
}

.cxplanmaprouteicon
{
    background-image: url(../Images/PlanMapRoute.png) !important;
}

.cxplanreselecticon
{
    background-image: url(../Images/PlanReselect.png) !important;
}

.cxplanseticon
{
    background-image: url(../Images/PlanSet.png) !important;
}

.cxposse
{
    background-image: url(../Images/Posse.png) !important;
    width: 203px;
    height: 52px;
    background-repeat: no-repeat;
}

.cxpossebackground
{
    background-image: url(../Images/PosseBackground.png) !important;
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #FBFBFB;
}

.cxposseclearicon
{
    background-image: url(../Images/PosseClear.png) !important;
}

.cxposseheaderusericon
{
    background-image: url(../Images/PosseUser.png) !important;
}

.cxpossehelpformenuicon
{
    background-image: url(../Images/PosseHelpForMenu.png) !important;
}

.cxpossehelpforobjecticon
{
    background-image: url(../Images/PosseHelpForObject.png) !important;
}

.cxpossehelpforprocessicon
{
    background-image: url(../Images/PosseHelpForProcess.png) !important;
}

.cxpossehelpforsearchicon
{
    background-image: url(../Images/PosseHelpForSearch.png) !important;
}

.cxpossehelpicon
{
    background-image: url(../Images/PosseHelp.png) !important;
}

.cxposseicon
{
    background-image: url(../Images/PosseBlack.png) !important;
}

.cxposseicon24
{
    background-image: url(../Images/PosseBlack24.png) !important;
}

.cxposseicon32
{
    background-image: url(../Images/PosseBlack32.png) !important;
}

.cxposselogouticon
{
    background-image: url(../Images/PosseLogout.png) !important;
}

.cxposserefreshicon
{
    background-image: url(../Images/PosseRefresh.png) !important;
}

.cxpossereporticon
{
    background-image: url(../Images/PosseReport.png) !important;
}

.cxposseresetusericon
{
    background-image: url(../Images/ResetUser.png) !important;
}

.cxpossesaveicon
{
    background-image: url(../Images/PosseSave.png) !important;
}

.cxpossesearchicon
{
    background-image: url(../Images/PosseSearch.png) !important;
}

.cxposseusericon
{
    background-image: url(../Images/PosseUserBlack.png) !important;
}

.cxpreviousicon
{
    background-image: url(../Images/Previous.png) !important;
}

.cxprocessicon
{
    background-image: url(../Images/Process.png) !important;
}

.cxrecallicon
{
    background-image: url(../Images/Recall.png) !important;
}

.cxrecalltool
{
    background-image: url(../Images/RecallTool.png) !important;
}

.cxrelationshipicon
{
    background-image: url(../Images/Relationship.png) !important;
}

.cxremembericon
{
    background-image: url(../Images/Remember.png) !important;
}

.cxremembertool
{
    background-image: url(../Images/RememberTool.png) !important;
}

.cxremoteassistanceicon
{
    background-image: url(../Images/RemoteAssistance.png) !important;
}

.cxremoteassistanceheadermenuicon
{
    background-image: url(../Images/RemoteAssistanceHeaderMenu.png) !important;
}

.cxsearchtool
{
    background-image: url(../Images/SearchTool.png) !important;
}

.cxsubmenu
{
    background-image: url(../Images/SubMenu.png) !important;
}

.cxsystemmonitoricon
{
    background-image: url(../Images/PosseSystemMonitor.png) !important;
}

.cxtextareaicon
{
    background-image: url(../Images/TextArea.png) !important;
}

.cxtextareadialogicon
{
    background-image: url(../Images/TextAreaDialog.png) !important;
}

.cxtextareadialogtool
{
    background-image: url(../Images/TextAreaDialogTool.png) !important;
}

.cxtextblock
{
    overflow: hidden !important;
}

.cxtextdisplay
{
    padding: 0px 20px 0px 20px;
    height: auto;
}

.cxtodoicon
{
    background-image: url(../Images/ToDo.png) !important;
}

.cxtodoicon32
{
    background-image: url(../Images/ToDo32.png) !important;
}

.cxtool
{
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
}

.cxtoolbaruploadfield span, .cxtoolbaruploadfield input
{
    cursor: hand;
    cursor: pointer;
}

.cxtoolbutton
{
    padding-top: 1px;
    padding-bottom: 0px;
}

.cxtoolbuttontext
{
    padding-left: 14px !important;
}

.cxtoolicon
{
    background-image: url(../Images/Toolbox.png) !important;
}

.x-ie .cxtooltoolbar
{
    padding-top: 1px;
}

.x-safari .cxtooltoolbar
{
    padding-top: 1px;
}

.cxuploadicon
{
    background-image: url(../Images/PosseUpload.png) !important;
}

.cxuploadtool
{
    background-image: url(../Images/UploadTool.png) !important;
}

.cxviewicon
{
    background-image: url(../Images/View.png) !important;
}

.cxwarning
{
    border: 1px solid #c30 !important;
    background-color: inherit !important;
    background: #FBFBFB url('../Images/Invalid.gif') repeat-x bottom;
    padding: 0px 0px 0px 0px;
}

.cxwarningmessage
{
    color: #000000;
}

.cxwarningtooltip
{
    color: #FFFFFF;
}

.cxwarnings
{
    margin-top: 1px !important;
}

.cxwarninggridicon
{
    margin-bottom: -2px;
    margin-right: 3px;
}

.cxwarningsicon
{
    background-image: url(../Images/Warnings.png) !important;
}

.cxgotowarningsicon
{
    background-image: url(../Images/GotoWarnings.png) !important;
}

.cxwarningstool
{
    background-image: url(../Images/WarningsTool.png) !important;
}

.cxgotowarningstool
{
    background-image: url(../Images/GotoWarningsTool.png) !important;
}

.cxeditwarningicon
{
    background-image: url(../Images/EditWarn.png) !important;
}

.cxwidgetcontainer
{
    border-top: 1px solid #e7e3e3;
    border-left: 1px solid #e7e3e3;
    border-right: 1px solid #e7e3e3;
    border-bottom: 1px dotted #e7e3e3;
}

.x-form-invalid .cxwidgetcontainer
{
    border: 1px solid #c30;
    background-color: inherit !important;
    background: #FBFBFB url('../Images/Invalid.gif') repeat-x bottom;
}

.cxcontainerinvalid .cxwidgetcontainer
{
    border: 1px solid #c30;
    background-color: inherit !important;
    background: #FBFBFB url('../Images/Invalid.gif') repeat-x bottom;
}

.cxuploadfailedlink
{
    color: #c30;
    text-decoration: none;
}

.cxuploadgridicon
{
    margin-bottom: -4px;
    margin-right: 3px;
}

.cxprogresscolumntext
{
    margin-top: -2px;
}

/* Override the ExtJS class to use our own image in GridHierarchy trees. */
.x-tree-icon-leaf {
  background-image: url(../Images/PosseFolder.png);
}

/* Override the ExtJS class to use our own image in GridHierarchy trees. */
.x-tree-icon-parent {
  background-image: url(../Images/PosseFolder.png);
}

/* Override the ExtJS class to use our own image in GridHierarchy trees. */
.x-grid-tree-node-expanded .x-tree-icon-parent {
  background-image: url(../Images/PosseFolder-open.png);
}
