﻿<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to the POSSE Word Merge REST API!</h1><br />
                <h2>This API is used by the Word Merge Macros.</h2>
            </hgroup>
            <p>
                This API allows the Word Merge Macros to access data from POSSE, and
                to post back updated documents.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>To use this API:</h3>
        <ol class="round">
            <li class="one">
                <h5>Set up Macro Documents and Templates</h5>
                Use the Configuration site to set up Macro sets and Template documents
                that can be linked to various processes and jobs in POSSE.
            </li>

            <li class="two">
                <h5>Choose a macro set that has the correct 'buttons'</h5>
                Macro Sets may exist for various kinds of processing:  single Get Data passes,
                multiple stages, with and without recipient sets, and with and without signing.
            </li>
            <li class="three">
                <h5>Download A document and try the buttons in the POSSE ribbon group</h5>
                Each document template may have different text, fields, images, etc.
            </li>
        </ol>
    </section>
</div>