<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DisabledFunctionLink.ascx.cs" Inherits="Computronix.POSSE.Outrider.DisabledFunctionLink" %>
<div class="disabledButton">
    <asp:Label ID="lblBtnLabel" runat="server"></asp:Label>
</div>
