﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectedWarningTabLabel.ascx.cs" Inherits="Computronix.POSSE.Outrider.SelectedWarningTabLabel" %>
<div class="warningTab">
    <asp:HyperLink ID="hlkTabLink" runat="server"><asp:Label ID="lblTxtLabel" runat="server"></asp:Label></asp:HyperLink>
</div>