<%@ Page Language="C#" MasterPageFile="~/OutriderPopup.master" AutoEventWireup="true" CodeFile="SelectObjects.aspx.cs" Inherits="Computronix.POSSE.Outrider.SelectObjects" Title="Select Objects" %>

<asp:Content ID="cntTitleBand" runat="server" ContentPlaceHolderID="cphTitleBand">
	<asp:Panel ID="pnlTitleBand" runat="server">
	</asp:Panel>
</asp:Content>
<asp:Content ID="cntPaneBand" ContentPlaceHolderID="cphPaneBand" Runat="Server">
    <asp:Panel ID="pnlPaneBand" runat="server" CssClass="popupdatazone">
    </asp:Panel>
</asp:Content>
<asp:Content ID="cntBottomFunctionBand" ContentPlaceHolderID="cphBottomFunctionBand" Runat="Server">
    <asp:Panel ID="pnlBottomFunctionBand" runat="server">
    </asp:Panel>
</asp:Content>
