<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FunctionLink.ascx.cs"
	Inherits="Computronix.POSSE.Outrider.FunctionLink" %>
<div class="button">
    <asp:HyperLink ID="hlkBtnLink" runat="server"><asp:Label ID="lblBtnLabel" runat="server"></asp:Label></asp:HyperLink>
</div>
