<%@ Page Language="C#" MasterPageFile="~/OutriderPopup.master" AutoEventWireup="true"
	CodeFile="ProcessAssignment.aspx.cs" Inherits="Computronix.POSSE.Outrider.ProcessAssignment" Title="Process Assignment" %>

<asp:Content ID="cntPaneBand" ContentPlaceHolderID="cphPaneBand" Runat="Server">
    <asp:Panel ID="pnlPaneBand" runat="server">
    </asp:Panel>
</asp:Content>
