<%@ Master Language="C#" AutoEventWireup="true" Inherits="Computronix.POSSE.PosseInternal.Page"
    CodeBehind="Page.master.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>Winchester</title>
    <link rel="icon" type="image/x-icon" href="Resources/CustomImages/Posse.ico" />
    <link rel="Stylesheet" type="text/css" href="Resources/FontAwesome.min.css" />
    <link rel="Stylesheet" type="text/css" href="Resources/CxFont.css" />
    <link rel="Stylesheet" type="text/css" href="Resources/PosseInternal-all-debug.css" />
    <link rel="Stylesheet" type="text/css" href="Resources/Computronix.Ext.css" />
    <link rel="Stylesheet" type="text/css" href="Resources/PosseInternal.css" />
    <link rel="Stylesheet" type="text/css" href="Resources/CustomImages.css" />
    <link rel="Stylesheet" type="text/css" href="Resources/TagColorPalette.css" />
    <link rel="Stylesheet" type="text/css" href="Handlers/GetSystemImagesCss.ashx" />
    <link rel="Stylesheet" type="text/css" href="Handlers/GetSystemColors.ashx" />
    <script type="text/javascript" src="Scripts/ext-all-debug.js?_time=1481155097.0"></script>
    <script type="text/javascript" src="Scripts/NameSpaces.js?_time=1369948794.0"></script>
    <script type="text/javascript" src="Scripts/Computronix.Ext.js?_time=1489436850.0"></script>
    <script type="text/javascript" src="Scripts/PosseInternal.js?_time=1513282579.0"></script>
    <script type="text/javascript" src="Scripts/Presentations.js?_time=1493250696.0"></script>
    <script type="text/javascript" src="Scripts/ChildWindowCommunication.js?_time=1467841430.0"></script>
    <script type="text/javascript" src="Scripts/SystemMonitor.js?_time=1478274358.0"></script>
    <asp:ContentPlaceHolder ID="cphHead" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body id="body" onbeforeunload="try { Computronix.Ext.onBeforeUnload(event); } catch (exception) { }">
</body>
</html>
