﻿/**************************************************************************************************
 * Tabs
 **************************************************************************************************/
.tablabelband { /* tab container */
    float: left;
	padding: 0px;
}

.tablabelbandpopup { /* tab container on popups */
    float: left;
}

.tab { /* general tab settings */
    float: left;
}

.tab a { /* general tab links, image on left of tab */
    float: left;
}
.selectedTab { /* select tab settings, image on left of tab */
    float: left;
}
.disabledTab { /* selected tab settings, image on left of tab */
    float: left;
}

.feeTab { /* fee tab settings */
    float: left;
}

.feeTab a { /* fee tab link, image on left of tab */
    float: left;
}

.selectedFeeTab { /* fee tab settings, image on left of tab */
    float: left;
}

.warningTab { /* warning tab settings */
    float: left;
}

.warningTab a { /* warning tab link, image on left of tab */
    float: left;
}

.selectedWarningTab { /* warning tab settings, image on left of tab */
    float: left;
}

/**************************************************************************************************
 * Buttons
 **************************************************************************************************/
.buttonHelp a {    
	float: right;
	position: relative;
} 

.button a {    
	float: left;
	position: relative;
} 

.buttonAdd a {    
	float: left;
	position: relative;
} 

.buttonBacktoJob a {    
	float: left;
	position: relative;
} 

.buttonlookup a {    
	float: left;
	position: relative;
} 