﻿/**************************************************************************************************
 * Insert Menu
 **************************************************************************************************/
#InsertMenu { /* main container for menu */
    z-index:100;
    visibility: hidden;
    position: absolute;
    width: 200px;
    height: 100%;
}

#InsertMenu li.menuitem { /* list items inside the insert menu */
    list-style: none;
    border: 1px solid #5A5B5D; 
    background: #5A5B5D;
    width: 260px;
}

#InsertMenu a.menuitem { /* links */
    color: #FFFFFF;
    font: bold 9pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    display: block;
    padding: 3px;
    background-color: #5A5B5D;
}

#InsertMenu a:hover { /* link hover properties */
    color: #FFFFFF;
    background-color: #2F2F31;
    border-color: #2F2F31;
}

#InsertMenu a:link, #InsertMenu a:visited { /* link visited properties */
    color: #FFFFFF;
    text-decoration: none;
}

div.MenuDropDown { /* generic menus */
	z-index:100;
	visibility: hidden;
	position: absolute;
	width: 200px;
	height: 100%;
}

.MenuDropDown a:hover { /* generic menus hover*/
    color: #FFFFFF;
    background-color: #2f2f31;
    border-color: #2f2f31;
}
