/**************************************************************************************************
 *  General Styling
 **************************************************************************************************/
 .printonly {
    display: none;
}

@media print {
    .printonly {display: block;}
}

@media print {
    .noprint {display: none;}
}

@media print {
    .datazone {background-color: white;}
}

table.greynoprint {
    background-color: #CCCCCC;
}

hr { /* horizontal lines */
    background-color: #CCCCCC;
    color: #CCCCCC;
}

textarea { /* get rid of the 3-D look on boxes */
    border: 1px solid #B0B0B0;
}

input.text { /* get rid of the 3-D look on boxes */
    border: 1px solid #B0B0B0;
}

select { /* get rid of the 3-D look on boxes */
    border: 1px solid #B0B0B0;
}

.removeautoscroll { /* works with JS code to prevent auto-scrolling on pages where it is used. */
    cursor:default;
    display:none;
}

/**************************************************************************************************
 *  General Text Styling
 **************************************************************************************************/
a:link, a:active, a:visited { /* make all links grey */
    color: #575757;
}

a:hover { /* change links to black on hover */
    color: #575757;
}

.uppercase { /* all uppercase fields show as uppercase */
    text-transform: uppercase; 
}

th.subdetailheader { /* header labels in the details panes */
    font: 14px Calibri,Arial,san-serif;
    text-transform: uppercase;
    color: #575757;
    text-decoration: none;
    text-align: left;
    border-bottom: 1px solid #575757;
    width: 100%;
}

th.detailheader { /* headers on detail panes */
   font-family: Calibri,Arial;
   text-transform: uppercase;
   color: #575757;
   font-size: 18px;
   text-decoration: none;
   text-align: left;
   border-bottom: 1px solid #575757;
   width: 100%;
}

th.mandatorysubdetailheader { /* header labels in the details panes marking mandatory info*/
    font: 14px Calibri,Arial,san-serif;
    text-transform: uppercase;
    color: #575757;
    text-decoration: none;
    text-align: left;
    border-bottom: 1px solid #575757;
    width: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(../images/asterisk.gif);
    padding-left: 10px;
}

th.possedetail {
    padding-left: 8px;
}

th.mandatory {
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(../images/asterisk.gif);
    padding-left: 8px;
}

.screenid { /* version at bottom of page */
    font: normal 8pt Calibri,Arial, Helvetica, sans-serif;
    color: #666666;
    margin-left: 0px;
}

.uploadlabel,.uploadfield,.uploadmessage,.uploadbutton { /* upload popoup */
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #575757;
}

/**************************************************************************************************
 *  Menu Pages
 **************************************************************************************************/
.menupaneheader { /* header text on menu page */
    font-family: Calibri,Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #575757;
    margin-left: 2px;
}

.menupanelist { /* list items for menu pane */
    list-style-type: none;     
    margin: 0px 0px 10px 0px;
    padding: 0px;
    width: 350px;
}

.menupaneitem a { /* links on menu page */
    font: normal 10pt Calibri,Arial, Helvetica, sans-serif;
    color: #000000;
    text-decoration: none;
    margin: 0px 10px 2px 15px;
}

.menupaneitem a:hover { /* link hover on menu page */
    text-decoration: underline;
}

.menupaneitem a img { /* icons on menu page */
    padding: 0px 5px 0px 0px;
    vertical-align: middle;
    border-width: 0;
}

.menupaneline { /* dividing lines on menu page */
    border-top: 1px dashed #AAAAAA;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    background-color: #FFFFFF;
    color: #0066CC;
    height: 1px;
    padding: 0px 0px 5px 0px;
}

/**************************************************************************************************
 *  POSSE Specific
 *************************************************************************************************/
.datazone { /* the main posse data area */
     width: 960px;
     padding-bottom: 20px;
     padding-top: 1px;
}

.posseerror { /* error text*/
    font: bold 11pt Calibri, Verdana, Arial, Helvetica, sans-serif;
    color: #e71e1e;
}

.possesuccess { /* success text*/
    font: bold 11pt Calibri, Verdana, Arial, Helvetica, sans-serif;
    color: #3D901C;
}

.possenodata { /* no info found in search */
    background-color: #191970; /* midnightblue */
    color: yellow;
    font-size: 11pt;
    font-weight: bold;
}

.possebold { /* bold text */
    color: #0D3692;
    font: bold 9pt Calibri, Verdana, Arial, Helvetica, sans-serif;
}

th.possegrid { /* grids */
    color: #575757;
    font: bold 9pt Calibri, Verdana, Arial, Helvetica, sans-serif;
}

.possegrid { /* grids */
    font: normal 9pt Calibri, Verdana, Arial, Helvetica, sans-serif;
    color: #575757;
    vertical-align: top;
    white-space: normal;
}

.gridlink { /* links added to grids */
    font: normal 9pt Calibri, Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #575757;
}
.possedetail input { /* input fields */
    color: #575757;
    font: normal 9pt Calibri, Verdana, Arial, Helvetica, sans-serif;
}

.possedetail textarea { /* textarea fields */
/*        white-space: pre;   required to allow multi line text fields (textareas) to display line breaks */
/*        white-space: normal; /*  required to allow multi line text fields (textareas) to display line breaks */
        white-space: pre-wrap; /*  required to allow multi line text fields (textareas) to display line breaks and use of Return key in IE*/
}

.possedetail input[type=radio] { /* input fields */
    color: #575757;
    font: normal 9pt Calibri, Verdana, Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

.possedetail .None { /* */
    color: #575757;
    font: normal 9pt Calibri, Verdana, Arial, Helvetica, sans-serif;
}

.possedetail { /* details */
    color: #575757;
    font: normal 9pt Calibri, Verdana, Arial, Helvetica, sans-serif;
        white-space: normal;  /*required to allow read only fields to wrap properly */
}

.possedetail:visited { /* visited links */
    color: #575757;
}

.possedetailbold { /* custom bold labels */
    color: #0D3692;
    font: bold 9pt Calibri, Verdana, Arial, Helvetica, sans-serif;
}

.possedetaillarge { /* custom large labels */
    color: #575757;
    font: 14pt Calibri, Verdana, Arial, Helvetica, sans-serif;
}

.posselabel { /* labels */
    font-weight: bold;
}

.possegraylabel { /* custom label */
    font-weight: normal;
    color: #D1D1D1
}

.posserequired { /* mandatory fields */
    color: #990000;
    font-family: normal 9pt Calibri, Verdana, Arial, Helvetica, sans-serif;
}

img.possedetail { /* images */
    border: 0;
}

.posseband_1 { /* odd rows of grid */
    background-color: #E6E7E9;
}

.posseband_2 { /* even rows of grid */
    background-color: #FFFFFF;
}

.posseband_hover { /* color when hovering over grid */
    background-color: #cfcfd0;
}

.warning {
    color: #FF0000;
}

.TopAlign {
    vertical-align: top;
}

.information {
    color: #7F7F7F;
    font: italic;
}

.onlineinformation { /* gray panels showing data entered on public site */
    background-color: #EEEEEE;
}

/* fix for unclickable bottom half of grid drop-downs (chrome) */
span.possegrid { /* grids */
    vertical-align: unset;
}

/* use these possegrid classes if you want the grid to be non-clickable (from the MakeGridsClickable js function) */
th.possegrid_nonclickable { /* grids */
    color: #575757;
    font: bold 9pt Calibri, Verdana, Arial, Helvetica, sans-serif;
}

.possegrid_nonclickable { /* grids */
    font: normal 9pt Calibri, Verdana, Arial, Helvetica, sans-serif;
    color: #575757;
    vertical-align: top;
    white-space: normal;
}