<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<%@ Master Language="C#" AutoEventWireup="true" CodeFile="OutriderLogin.master.cs" Inherits="Computronix.POSSE.Outrider.OutriderMaster" %>
<%@ Import Namespace="Computronix.POSSE.Outrider" %>
<html>
<head runat="server">
    <title>OutriderLoginMaster</title>

    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>

    <link href="css/global.css" rel="stylesheet" type="text/css" />
    <link href="css/layout.css" rel="stylesheet" type="text/css" />
    <link href="css/header.css" rel="stylesheet" type="text/css" />
    <link href="css/buttons.css" rel="stylesheet" type="text/css" />
    <link href="css/tabs.css" rel="stylesheet" type="text/css" />
    <link href="css/insertmenu.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="<%=ResolveUrl("~/favicon.ico")%>" type="image/x-icon" />
    <!--[if IE 7]>
      <link href="css/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->

	<script src="javascript/posseglobal<%=ConfigurationManager.AppSettings["PosseGlobalVersion"]%>.js"
		language="javascript" type="text/javascript"></script>

    <script src="javascript/posseextension.js?<%=ConfigurationManager.AppSettings["PosseExtensionVersion"]%>"
      language="javascript" type="text/javascript">
    </script>

    </head>
<body class="master" <%
// Add event handlers to the body tag.
if (((PageBase)this.Page).HasPresentation)
{
  this.Response.Write(" onload='PosseOnLoad(); disablelistprocessor(); initializeValidatedValues();' onunload='PossePwClose(true)'");
}
 %>>


	<div class="headerlogin">
        <div class="centerpanellogin">
            <table style="display: inline-table;" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="1000">
                <!-- fwtable fwsrc="ABC-App-Head-Final-8.5.13.png" fwpage="Page 1" fwbase="header.jpg" fwstyle="Dreamweaver" fwdocid = "1442189459" fwnested="0" -->
                <tbody>
                    <tr>
                        <td>
                            <img src="images/interface/spacer.gif" width="243" height="1" border="0" alt=""></td>
                        <td>
                            <img src="images/interface/spacer.gif" width="103" height="1" border="0" alt=""></td>
                        <td>
                            <img src="images/interface/spacer.gif" width="60" height="1" border="0" alt=""></td>
                        <td>
                            <img src="images/interface/spacer.gif" width="348" height="1" border="0" alt=""></td>
                        <td>
                            <img src="images/interface/spacer.gif" width="62" height="1" border="0" alt=""></td>
                        <td>
                            <img src="images/interface/spacer.gif" width="83" height="1" border="0" alt=""></td>
                        <td>
                            <img src="images/interface/spacer.gif" width="101" height="1" border="0" alt=""></td>
                        <td>
                            <img src="images/interface/spacer.gif" width="1" height="1" border="0" alt=""></td>
                    </tr>
                    <tr>
                        <td colspan="3"><a href="http://www.nj.gov/" target="_blank">
                            <img name="header_r1_c1_s1" src="images/interface/header_r1_c1_s1.jpg" width="406" height="33" border="0" id="header_r1_c1_s1" alt="New Jersey Home"></a></td>
                        <td colspan="4"><a href="http://www.nj.gov/oag/abc/index.html" target="_blank">
                            <img name="header_r1_c4_s1" src="images/interface/header_r1_c4_s1.jpg" width="594" height="33" border="0" id="header_r1_c4_s1" alt="ABC Logo"></a></td>
                        <td>
                            <img src="images/interface/spacer.gif" width="1" height="33" border="0" alt=""></td>
                    </tr>
                    <tr>
                        <td colspan="3"><a href="http://www.nj.gov/oag/" target="_blank">
                            <img name="header_r2_c1_s1" src="images/interface/header_r2_c1_s1.jpg" width="406" height="45" border="0" id="header_r2_c1_s1" alt="NJ Office of the Attorney General"></a></td>
                        <td colspan="4"><a href="http://www.nj.gov/oag/abc/index.html" target="_blank">
                            <img name="header_r2_c4_s1" src="images/interface/header_r2_c4_s1.jpg" width="594" height="45" border="0" id="header_r2_c4_s1" alt="ABC Logo"></a></td>
                        <td>
                            <img src="images/interface/spacer.gif" width="1" height="45" border="0" alt=""></td>
                    </tr>
                    <tr>
                        <td colspan="3"><a href="http://www.nj.gov/oag/" target="_blank" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('header_r3_c1_s1','','images/interface/header_r3_c1_s2.jpg',1);">
                            <img name="header_r3_c1_s1" src="images/interface/header_r3_c1_s1.jpg" width="406" height="26" border="0" id="header_r3_c1_s1" alt="NJ Office of the Attorney General"></a></td>
                        <td colspan="4"><a href="http://www.nj.gov/oag/abc/index.html" target="_blank">
                            <img name="header_r3_c4_s1" src="images/interface/header_r3_c4_s1.jpg" width="594" height="26" border="0" id="header_r3_c4_s1" alt="ABC Logo"></a></td>
                        <td>
                            <img src="images/interface/spacer.gif" width="1" height="26" border="0" alt=""></td>
                    </tr>
                    <tr>
                        <td colspan="3"><a href="http://www.nj.gov/oag/abc/index.html" target="_blank">
                            <img name="header_r4_c1_s1" src="images/interface/header_r4_c1_s1.jpg" width="406" height="40" border="0" id="header_r4_c1_s1" alt="ABC Logo"></a></td>
                        <td>
                            <img name="header_r4_c4_s1" src="images/interface/header_r4_c4_s1.jpg" width="348" height="40" border="0" id="header_r4_c4_s1" alt=""></td>
                        <td><a href="http://www.nj.gov/oag/abc/index.html" target="_blank" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('header_r4_c5_s1','','images/interface/header_r4_c5_s2.jpg',1);">
                            <img name="header_r4_c5_s1" src="images/interface/header_r4_c5_s1.jpg" width="62" height="40" border="0" id="header_r4_c5_s1" alt="ABC Home"></a></td>
                        <td><a href="mailto:POSSEAdmin@lps.state.nj.us" onClick='alert("You have opted to contact the Division, you will be directed to send an email to POSSEAdmin@lps.state.nj.us If an email system was not setup up on your machine, you will have to manually send an email. If you would prefer to contact the Division by phone please call 609-984-2830.");' onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('header_r4_c6_s1','','images/interface/header_r4_c6_s2.jpg',1);">
                            <img name="header_r4_c6_s1" src="images/interface/header_r4_c6_s1.jpg" width="83" height="40" border="0" id="header_r4_c6_s1" alt="Contact ABC"></a></td>
                        <td><a href="http://www.nj.gov/oag/abc/licensing-files.html" target="_blank" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('header_r4_c7_s1','','images/interface/header_r4_c7_s2.jpg',1);">
                            <img name="header_r4_c7_s1" src="images/interface/header_r4_c7_s1.jpg" width="101" height="40" border="0" id="header_r4_c7_s1" alt="ABC Licensing/Permits"></a></td>
                        <td>
                            <img src="images/interface/spacer.gif" width="1" height="40" border="0" alt=""></td>
                    </tr>
                </tbody>
            </table>
            <table id="noticePanel" style="border: 3px solid green; padding: 5px; margin-bottom: 5px; vertical-align: top; width: 100%; text-align:center; display: none;"><tbody>
                <tr><td valign="top"><img id="successImage" src="images/icons/ok_16.png"></td><td id="noticePanelText" class="possesuccess" width="100%">Password reset successfully.</td></tr></tbody></table>
            <div class="sitelogologin">
                <img src="images/splashlogo.jpg" alt="ABC"/>
            </div>
			<div class="loginfields">
			   <form id="form1" runat="server">
			    	<asp:ContentPlaceHolder ID="cphPaneBand" runat="server"></asp:ContentPlaceHolder>
			    </form>
            </div>
        </div>
    </div>
    <div class="centerpanellogin">
      <div class="subtitle">Register</div>
      <div class="possedetail"><b>If you have not submitted official credentials for an account, please <span class="normallink"><a href="https://www.nj.gov/oag/abc/posse/police-chief-credentials.html">click here</a></span></b></div>
    </div>
    <div class="centerpanellogin">
    	<div class="possedetail"><br><br><span style="font-weight: bold; font-size: 120%;">DISCLAIMER:</span> You are accessing an application belonging to the State of New Jersey, Department of Law and Public Safety. This application and data contained within is only provided for use authorized by the Department of Law and Public Safety. Unauthorized or improper use of the application or data contained within may result in civil proceedings and/or criminal prosecution.
    	</div>
    </div>
    <div class="footerlogin" style="text-align: center;">
        <div class="centerpanellogin">
            <span class="footertext" onclick="PosseToggleDebugKey()">Copyright &copy; <%=ConfigurationManager.AppSettings["CopyrightYear"]%> Computronix</span>
            <asp:ContentPlaceHolder ID="cphFooterBand" runat="server">
            </asp:ContentPlaceHolder>
            <asp:ContentPlaceHolder ID="cphBottomFunctionBand" runat="server">
                </asp:ContentPlaceHolder>
            <asp:ContentPlaceHolder ID="cphDebugLinkBand" runat="server">
                </asp:ContentPlaceHolder>
        </div>
    </div>


</body>
</html>