<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PosseLookupAjax.aspx.cs" Inherits="Computronix.POSSE.Outrider.PosseLookupAjax" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
	<title>PosseLookupAjax</title>
</head>
<body>
</body>
</html>
