<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectedTabLabel.ascx.cs"
	Inherits="Computronix.POSSE.Outrider.SelectedTabLabel" %>
	
<div class="selectedTab">
    <asp:Label ID="lblTxtLabel" runat="server"></asp:Label>
</div>
