    <%@ Control Language="C#" AutoEventWireup="true" CodeFile="TabLabel.ascx.cs" Inherits="Computronix.POSSE.Outrider.TabLabel" %>

<div class="tab">
    <asp:HyperLink ID="hlkTabLink" runat="server"><asp:Label ID="lblTxtLabel" runat="server"></asp:Label></asp:HyperLink>
</div>