/**************************************************************************************************
 * Default Buttons
 **************************************************************************************************/
.button { /* default for all buttons */
    margin: 5px 5px 10px 0px;
    cursor: pointer;
    /*text-align: center;*/
}

.button a { /* default link for all buttons */
    background-image: url(../images/Interface/normalbuttonbg.png);
    background-position: top left;
    background-repeat: repeat-x;
    padding: 2px 12px 5px 12px;
    color: #FFFFFF;
    font: bold 11pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;
}

.button a:hover { /* default hover for all buttons */
    background-image: url(../images/Interface/darkbuttonbg.png);
}

.button a span { /* button link text */ /* needed so that it overrides possedetail:link */
    color: #FFFFFF;
}

.rightButtons .button { /* buttons that are right justified */
    float: right;
    margin-left: 10px;
    margin-right: 0px;
}

.rightButtons {
    float: right;
}

.disabledButton {
    display: none;
}

/**************************************************************************************************
 * Add Buttons
 **************************************************************************************************/
.buttonAdd { /* add button */
    margin: 5px 5px 10px 0px;
    cursor: pointer;
}

.buttonAdd a {
    background-image: url(../images/Interface/addbuttonbg.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding: 2px 12px 5px 30px;
    color: #FFFFFF;
    font: bold 11pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;    
}

.buttonAdd a:hover { /* add button link hover */
    background-image: url(../images/Interface/darkaddbuttonbg.png);
}

.buttonAdd a span { /* Add button link text */ /* needed so that it overrides possedetail:link */
    color: #FFFFFF;
}

/**************************************************************************************************
 * Delete Clear Buttons
 **************************************************************************************************/
.deleteClear { /* add button */
    cursor: pointer;
}

.deleteClear a {
    background-image: url(../images/icons/delete2.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding: 0px 5px 4px 10px;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;    
}

/**************************************************************************************************
 * Plus Sign Add Buttons
 **************************************************************************************************/
.plusSignAdd { /* add button */
    cursor: pointer;
}

.plusSignAdd a {
    background-image: url(../images/icons/add16x.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding: 0px 5px 4px 10px;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;    
}

/**************************************************************************************************
 * Clause Buttons
 **************************************************************************************************/
a.buttonClause { /* clause button */
    background-image: url(../images/Interface/normalbuttonbg.png);
    background-position: top left;
    background-repeat: repeat-x;
    padding: 5px 12px 5px 12px;
    color: #FFFFFF;
    font: bold 11pt Calibri,Arial,helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;
}

a.buttonClause:hover { /* clause button hover */
    background-image: url(../images/Interface/darkbuttonbg.png);
}

/**************************************************************************************************
 * Help Button
 **************************************************************************************************/
.buttonHelp { /* help button */
    margin: 5px 5px 10px 0px;
    cursor: pointer;
}

.buttonHelp a { /* help button link */
    background-image: url(../images/Interface/helpbuttonbg.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding: 2px 12px 5px 30px;
    font: bold 11pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;
}

.buttonHelp a:hover { /* help button hover */
    background-image: url(../images/Interface/darkhelpbuttonbg.png);
}

.buttonHelp a span { /* help button link text */ /* needed so that it overrides possedetail:link */
    color: #FFFFFF;
}

/**************************************************************************************************
 * Return To Job Button
 **************************************************************************************************/
.buttonBacktoJob { /* return to job button */
    margin: 5px 5px 10px 0px;
    cursor: pointer;
}

.buttonBacktoJob a { /* return to job button link */
    background-image: url(../images/Interface/backtojobbuttonbg.png);
	background-position: top left;
	background-repeat: no-repeat;
    padding: 2px 12px 5px 30px;
    color: #FFFFFF;
    font: bold 11pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;	
}

.buttonBacktoJob a:hover { /* return to job button link hover */
	background-image: url(../images/Interface/darkbacktojobbuttonbg.png);
}

.buttonBacktoJob a span { /* return to job button link text */ /* needed so that it overrides possedetail:link */
    color: #FFFFFF;
}

/**************************************************************************************************
 * Assignment Button
 **************************************************************************************************/
.buttonAssignment { /* assignment button */
    margin: 5px 5px 10px 0px;
    cursor: pointer;
}

.buttonAssignment a { /* assignment button link */
    background-image: url(../images/Interface/assignmentsbuttonbg.png);
	background-position: top left;
	background-repeat: no-repeat;
    padding: 2px 12px 5px 30px;
    color: #FFFFFF;
    font: bold 11pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;
}

.buttonAssignment a:hover { /* assignment button link hover */
	background-image: url(../images/Interface/darkassignmentsbuttonbg.png);
}

.buttonAssignment a span { /* assignment button link text */ /* needed so that it overrides possedetail:link */
    color: #FFFFFF;
}

/**************************************************************************************************
 * Where Am I Button
 **************************************************************************************************/
.buttonWhere { /* where am I? button */
    margin: 5px 5px 10px 0px;
    cursor: pointer;
}

.buttonWhere a { /* where am I? button link */
    background-image: url(../images/Interface/wherebuttonbg.png);
	background-position: top left;
	background-repeat: no-repeat;
    padding: 2px 12px 5px 30px;
    color: #FFFFFF;
    font: bold 11pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;
}

.buttonWhere a:hover { /* where am I? button link hover */
	background-image: url(../images/Interface/darkwherebuttonbg.png);
}

.buttonWhere a span { /* where am I? button link text */ /* needed so that it overrides possedetail:link */
    color: #FFFFFF;
}

/**************************************************************************************************
 * Submit Buttons
 **************************************************************************************************/
.buttonSubmit { /* submit button */
    margin: 5px 5px 10px 0px;
    cursor: pointer;
}

.buttonSubmit a {
    background-image: url(../images/Interface/submitbuttonbg.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding: 2px 12px 5px 30px;
    color: #FFFFFF;
    font: bold 11pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;    
}

.buttonSubmit a:hover { /* add button link hover */
    background-image: url(../images/Interface/darksubmitbuttonbg.png);
}

.buttonSubmit a span { /* Add button link text */ /* needed so that it overrides possedetail:link */
    color: #FFFFFF;
}

/**************************************************************************************************
 * Lookup Buttons
 **************************************************************************************************/
.buttonlookup { /* lookup button */
    margin: 5px 5px 10px 0px;
    cursor: pointer;
}

.buttonlookup a {
    background-image: url(../images/Interface/lookupbuttonbg.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding: 2px 12px 5px 30px;
    color: #FFFFFF;
    font: bold 11pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;    
}

.buttonlookup a:hover { /* add button link hover */
    background-image: url(../images/Interface/darklookupbuttonbg.png);
}

.buttonlookup a span { /* Add button link text */ /* needed so that it overrides possedetail:link */
    color: #FFFFFF;
}

/**************************************************************************************************
 * Input Buttons  - this is used on the ChangePassword.aspx page
 **************************************************************************************************/
.inputbutton { /* default for all buttons */
    margin: 5px 5px 10px 0px;
    cursor: pointer;
    /*text-align: center;*/
    background-image: url(../images/Interface/normalbuttonbg.png);
    background-position: top left;
    background-repeat: repeat-x;
    padding: 2px 12px 5px 12px;
    color: #FFFFFF;
    font: bold 11pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;
}

/**************************************************************************************************
 * Back Buttons
 **************************************************************************************************/
.buttonBack { /* add button */
    margin: 5px 5px 10px 0px;
    cursor: pointer;
}

.buttonBack a {
    background-image: url(../images/Interface/ArrowWhiteLeft.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding: 2px 12px 5px 30px;
    color: #FFFFFF;
    font: bold 11pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;    
}

.buttonBack a:hover { /* add button link hover */
    background-image: url(../images/Interface/DarkArrowWhiteLeft.png);
}

.buttonBack a span { /* Add button link text */ /* needed so that it overrides possedetail:link */
    color: #FFFFFF;
}

/**************************************************************************************************
 * Next Buttons
 **************************************************************************************************/
.buttonNext { /* add button */
    margin: 5px 5px 10px 0px;
    cursor: pointer;
}

.buttonNext a {
    background-image: url(../images/Interface/ArrowWhiteRight.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding: 2px 12px 5px 30px;
    color: #FFFFFF;
    font: bold 11pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;    
}

.buttonNext a:hover { /* add button link hover */
    background-image: url(../images/Interface/DarkArrowWhiteRight.png);
}

.buttonNext a span { /* Add button link text */ /* needed so that it overrides possedetail:link */
    color: #FFFFFF;
}

/**************************************************************************************************
 * Delete (Remove) Buttons
 **************************************************************************************************/
.buttonDelete { /* delete button */
    margin: 5px 5px 10px 0px;
    cursor: pointer;
}

.buttonDelete a {
    background-image: url(../images/Interface/deletebuttonbg.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding: 2px 12px 5px 30px;
    color: #FFFFFF;
    font: bold 11pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;    
}

.buttonDelete a:hover { /* add button link hover */
    background-image: url(../images/Interface/darkdeletebuttonbg.png);
}

.buttonDelete a span { /* Add button link text */ /* needed so that it overrides possedetail:link */
    color: #FFFFFF;
}

/**************************************************************************************************
 * Renew Button
 **************************************************************************************************/
.buttonRenew { /* renew button */
    margin: 5px 5px 10px 0px;
    cursor: pointer;
}

.buttonRenew a {
    background-image: url(../images/Interface/renewbuttonbg.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding: 2px 12px 5px 30px;
    color: #FFFFFF;
    font: bold 11pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;    
}

.buttonRenew a:hover { /* add button link hover */
    background-image: url(../images/Interface/darkrenewbuttonbg.png);
}

.buttonRenew a span { /* Add button link text */ /* needed so that it overrides possedetail:link */
    color: #FFFFFF;
}

/**************************************************************************************************
 * Undo Buttons
 **************************************************************************************************/
 .buttonUndo { /* add button */
    margin: 5px 5px 10px 0px;
    cursor: pointer;
}

.buttonUndo a {
    background-image: url(../images/Interface/undobuttonbg.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding: 2px 12px 5px 30px;
    color: #FFFFFF;
    font: bold 11pt Calibri,Arial,Helvetica,sans-serif;
    text-decoration: none;
    white-space: nowrap;    
}

.buttonUndo a:hover { /* add button link hover */
    background-image: url(../images/Interface/darkundobuttonbg.png);
}

.buttonUndo a span { /* Add button link text */ /* needed so that it overrides possedetail:link */
    color: #FFFFFF;
}