/*
.x-ie .cxlink
{
	vertical-align: top;
}

.x-gecko .cxlink
{
	vertical-align: top;
}

.x-webkit .cxlink
{
	vertical-align: top;
}
*/

.cxdefault
{
    cursor: default;
}

.cxwait
{
    cursor: wait;
}

.cxbatchicon
{
    background-image: url(../Images/Batch.png) !important;
}

.cxblankicon
{
    background-image: none;
}

.cxbusyicon
{
    background-image: url(../Images/Busy.gif) !important;
}

.cxchangesicon
{
    background-image: url(../Images/Changes.png) !important;
}

.cxcheckbox
{
    white-space: nowrap;
    overflow: hidden;
}

.cxcheckboxgrid
{
    white-space: nowrap;
    overflow: hidden;
}

.cxclearicon
{
    background-image: url(../Images/Clear.png) !important;
}

.cxcolumnicon
{
    background-image: url(../Images/Column.png) !important;
}

.cxcomboboxcolumnheader
{
}

.cxcomponenticon
{
    background-image: url(../Images/Component.png) !important;
}

.cxcopyicon
{
    background-image: url(../Images/Copy.png) !important;
}

.cxcxlogo
{
    background-image: url(../Images/CXLogoWM.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.cxcxicon
{
    background-image: url(../Images/CXLogoSmall.png) !important;
}

.cxdatastoreicon
{
    background-image: url(../Images/DataStore.png) !important;
}

.cxdeleteicon
{
    background-image: url(../Images/Delete.png) !important;
}

.cxdisableddeleteicon
{
    background-image: url(../Images/DisabledDelete.png) !important;
}

.cxdisabledediticon
{
    background-image: url(../Images/DisabledEdit.png) !important;
}

.cxdisplayfield
{
    padding-top: 0px;
}

.cxdisplayfieldbody
{
    overflow: hidden;
}

.cxdownicon
{
    background-image: url(../Images/Down.png) !important;
}

.cxediticon
{
    background-image: url(../Images/Edit.png) !important;
}

.cxediterroricon
{
    background-image: url(../Images/EditError.png) !important;
}

.cxemptytext
{
}

.cxerroricon
{
    background-image: url(../Images/Error.png) !important;
}

.cxerrormessage
{
    color: #FF0000;
}

.cxerrortooltip
{
    color: #0080FF;
}

.cxexiticon
{
    background-image: url(../Images/Exit.png) !important;
}

.cxfieldcontainer
{
    padding: 1px 1px 1px 1px;
}

.cxfieldcontainerlabel
{
    white-space: nowrap;
    overflow: hidden;
}

.x-form-invalid .cxfieldcontainer
{
    border: 1px solid #c30;
    background-color: inherit !important;
    background: #FBFBFB url('../Images/Invalid.gif') repeat-x bottom;
    padding: 0px 0px 0px 0px;
}

.x-grid-cell-editor .x-form-invalid .cxfieldcontainer
{
    padding: 0px 0px 2px 0px
}

.cxfieldlabel
{
    white-space: nowrap;
    overflow: hidden;
}

.cxfieldicon
{
    background-image: url(../Images/Field.png) !important;
}

.cxfieldset
{
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding: 0px;
    margin-bottom: 0px;
}

.cxfieldsettitle
{
    font-size: 14px;
    padding-left: 0px !important;
}

.cxformicon
{
    background-image: url(../Images/Form.png) !important;
}

.cxgridicon
{
    background-image: url(../Images/Grid.png) !important;
}

.cxgridcellerror
{
    border-bottom: 1px solid #c30;
}

.cxgridcellwarning
{
    border-bottom: 1px solid Blue;
}

.cxgridcheckbox
{
    margin-top: 3px;
    background-image: url(../Images/Checkbox.png);
    background-repeat: no-repeat;
    background-position: center;
}

.cxgridcheckboxchecked
{
    margin-top: 3px;
    background-image: url(../Images/CheckboxChecked.png);
    background-repeat: no-repeat;
    background-position: center;
}

.cxgriddisplayfield
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cxgridsummary
{
    font-size: 11px;
}

.cxhelpicon
{
    background-image: url(../Images/Help.png) !important;
}

.cxicon
{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

.cxicon24
{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.cxicon32
{
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}

.cxinactiveitem
{
    text-decoration: line-through;
    color: Gray;
}

.cxkeycolumnicon
{
    background-image: url(../Images/KeyColumn.png) !important;
}

.cxlink
{
    text-decoration: none;
    vertical-align: top;
}

.cxlink:focus
{
    border-bottom: 1px dotted black;
}

.cxlogicon
{
    background-image: url(../Images/Log.png) !important;
}

.cxlogouticon
{
    background-image: url(../Images/Logout.png) !important;
}

.cxmandatory
{
    float: left;
    width: 6px;
    color: Red;
}

label.cxmask
{
    z-index: 100;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
}

.cxmask
{
    z-index: 100;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

.cxmicrohelp
{
}

.cxnewicon
{
    background-image: url(../Images/New.png) !important;
}

.cxnoborder
{
    border: 0px !important;
}

.cxnoicon
{
    width: 0px;
    height: 0px;
}

.cxnowrap
{
    white-space: nowrap;
    overflow: hidden;
}

.cxpanelicon
{
    background-image: url(../Images/Panel.png) !important;
}

.cxprintgrid
{
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    background-color: White;
}

.cxprintgriddata
{
    border: 1px solid WhiteSmoke;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 6px 3px;
    white-space: nowrap;
    height: 20px;
}

.cxprinticon
{
    background-image: url(../Images/Print.png) !important;
}

.cxprintgridheader
{
    font-weight: normal;
    border: 1px solid Silver;
    overflow: hidden;
    padding: 2px 6px 3px;
    white-space: nowrap;
    background-color: WhiteSmoke;
    height: 17px;
}

.cxprintgridtable
{
    border-collapse: collapse;
    table-layout: fixed;
    width: 0px;
    -webkit-print-color-adjust: exact;
}

.cxradio
{
    white-space: nowrap;
    overflow: hidden;
    padding-top: 3px;
}

.cxreadonlyformcheckbox
{
    background-image: url(../Images/ReadOnlyCheckboxGray.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-top: 5px;
    width: 13px;
    height: 13px;
}

.cxreadonlyformcheckboxchecked
{
    background-image: url(../Images/ReadOnlyCheckboxCheckedGray.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-top: 5px;
    width: 13px;
    height: 13px;
}

.cxreadonlyformradio
{
    background-image: url(../Images/ReadOnlyRadioGray.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-top: 2px;
    width: 12px;
    height: 12px;
}

.cxreadonlyformradiochecked
{
    background-image: url(../Images/ReadOnlyRadioCheckedGray.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-top: 2px;
    width: 12px;
    height: 12px;
}

.cxreadonlyformtext
{
    background-image: url(../Images/ReadOnlyTextGray.png) !important;
    background-color: #F1F1F1 !important;
    cursor: auto;
}

.cxreadonlygridcheckbox
{
}

.cxreadonlygridcheckboxchecked
{
    margin-top: 3px;
    background-image: url(../Images/ReadOnlyGridCheckboxCheckedGray.png);
    background-repeat: no-repeat;
    background-position: center;
}

.cxrefreshicon
{
    background-image: url(../Images/Refresh.png) !important;
}

.cxreporticon
{
    background-image: url(../Images/Report.png) !important;
}

.cxrequesticon
{
    background-image: url(../Images/Request.png) !important;
}

.cxsaveicon
{
    background-image: url(../Images/Save.png) !important;
}

.cxscripticon
{
    background-image: url(../Images/Script.png) !important;
}

.cxsearchicon
{
    background-image: url(../Images/Search.png) !important;
}

.cxsystemmonitoricon
{
    background-image: url(../Images/SystemMonitor.png) !important;
}

.cxstopicon
{
    background-image: url(../Images/Stop.png) !important;
}

.cxtreecolumn
{
    display: inline-block;
    white-space: nowrap;
    /*This is required for IE so that values that don't fit are still displayed and truncated.*/
    width: 1px;
}

.cxusericon
{
    background-image: url(../Images/User.png) !important;
}

.cxviewporticon
{
    background-image: url(../Images/Viewport.png) !important;
}

.cxuploadicon
{
    background-image: url(../Images/Upload.png) !important;
}

.cxwarning
{
    border: 1px solid Blue !important;
    background-color: inherit !important;
    background: #FBFBFB url('../Images/Warning.gif') repeat-x bottom;
    padding: 0px 0px 0px 0px;
}

.cxwarningmessage
{
    color: #0080FF;
}

.cxwarningtooltip
{
    color: #0080FF;
}

.x-tab:focus
{
    border: 1px dotted #A0A0A0;
}

.x-tree-panel .x-grid-row .x-grid-cell-inner
{
    height: auto;
}
