/* Visted tags remain blue */
a:visited
{
    color: rgb(0, 102, 204);
}

/********** Grid CSS **********/

/* Remove anchor tag look from grid footer */
tfoot .grid-data-item
{
    color: black;
    text-decoration: none;
}

tfoot .grid-data-item:hover
{
    cursor: default;
}


/********** Calendar CSS **********/

.calendar-header
{
    display: block;
    font-weight: bold !important;
    font-size: 15px !important;
    text-align: center;
}

.calendar
{
    display: inline-block;
    font-size: 11px;
    text-align: center;
}

.calendar .day.day-today .day-date
{
    font-weight: bold;
}

.calendar .day
{
    background: white;
    border: solid #e7e3e3;
    border-width: 0 1px 1px 0;
    float: left;
    height: 56px;
    position: relative;
    width: 14.25%;
}

/* Give left column days a border */
.calendar .day:nth-child(7n+1)
{
    border-left-width: 1px;
}

.calendar .day.day-header
{
    background: transparent;
    border-width: 0 0 1px 0;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    padding-bottom: 3px;
    text-align: right;
}

.calendar .day.day-active
{
    background-color: #8DC3F2 !important;
    border: solid #81A8E6;
    border-width: 1px 1px 0 0;
}

.calendar .day.day-weekend
{
    background-color: #F6F6F6;
}

.calendar .day .day-link
{
    left: 0;
    line-height: 1px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.calendar .day .day-date
{
    position: absolute;
    right: 3px;
    text-align: right;
}
